@import "./colors.module";

.posterContainer {
    justify-content: flex-end;
    display: flex;
    padding-right: 0;
}

.detailContainer {
    background-color: $backgroundColor;
}

.title {
    font-family: 'Century Gothic';
    margin-bottom: 0;
}

.director {
    opacity: 0.8;
    display: block;
}

.poster {
    width: 100%;
    height: auto;
}