@import "./colors.module";
@import "./fonts";

//Global syles

body {
  >* {
    background-color: $backgroundColorDark;
    background-image: url('../assets/background.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-blend-mode: soft-light;
  }
}

.main {
  background-color: $backgroundColorDark;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: $textColor;
  padding-top: 100px;

  @media (min-width: 768px) {
    padding-top: 160px;
  }
}

.page {
  width: 100%;
  background-color: $backgroundColorDark;
}